*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    }
    
    body {
    background: black;
    }
    
    .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    }
    
    h1 {
    color: #fff;
    background-image: linear-gradient(to bottom, #ffeb3b 0%, #ffeb3b 50%, #2196f3 51%, #2196f3 100%);
    padding: 10px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    }
    
    h2 {
    color: #fff;
    font-weight: 600;
    font-size: 1.8rem;
    text-align: center;
    }
    
    h4 {
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    }
    
    ul {
    padding: 10px;
    width: 100%;
    background: linear-gradient(154deg, #ffeb3b, #aa1ee2e0);
    font-weight: 600;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    }
    
    ul li a {
    list-style: none;
    color: #fff;
    text-decoration: none;
    }
    