*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz{
    padding: 20px 0;
}
#question{
color: #001e4d;
font-size: 18px;
font-weight: 600;
}
.bttn{
    background: #fff;
    color: #222;
    width: 100%;
    font-weight: 500;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.bttn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.bttn:disabled{
    cursor: no-drop;
}
#nxt{
    padding: 10px;
    width: 150px;
    background-color: #001e4d;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin: 20px auto 0;
    display: none;
}
.correct{
    background-color: #9aeabc;
}
.incorrect{
    background-color: #ff9393;
}