*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
}
.container{
    max-width: 600px;
    width: 100%;
    margin: 170px 450px 0;
    padding: 80px;
    
}
h1{
    color: #fff;
    background-image: linear-gradient(to bottom, #ffeb3b 0%, #ffeb3b 50%, #2196f3 51%, #2196f3 100%);
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 600;
    left: 100px;
}
h2{
    color: #fff;
    left: 70px;
    position: relative;
    font-weight: 600;
}
h4{
    color: #fff;
    left: 20px; 
    position: relative;
}
ul{
    margin-top: 20px;
    position: relative;
    padding: 10px ;
    width: 50%;
    background: linear-gradient(154deg, #ffeb3b, #aa1ee2e0);
    font-weight: 600;
    border-style: none ;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    text-align: center;
    left: 100px;
    list-style: none;
}
ul li a{
    
    color: #fff;
    text-decoration: none;
}



@media only screen and (max-width: 480px) {
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
      padding: 10px;
      width: 90%;
    }
  }
  
  
  



  
  
  